language: node_js
node_js:
- '6'
before_install:
- echo "registry = https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-virtual" > $HOME/.npmrc
- curl -u${NPM_USER}:${NPM_PASSWORD} "https://realglobe.artifactoryonline.com/realglobe/api/npm/auth" >> $HOME/.npmrc
- cat $HOME/.npmrc
install:
- npm install
script:
- ./ci/build.js
- ./ci/test.js
- ./ci/cover.js
- ./ci/report.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_sugos.js
env:
  secure: "Aq4vQbXNNu+X2d5oJpyFHXmNGmleaqYwFPlRWbrg7VPXojsSJJWBnZWuFSc2m/PkrnC+E3/7Vc2s+tZBhG4wHNlQfhCeD2YwnFIOaDXZ+EG12z6ySY+65UJ4qi1hQzOjTWEto5w7oxIxsKNMIxFuQ//r8+gQvSP644keCUa/LoTOScqpI4G5xALTM8w020nmZrd7xtyQgbs0zKvS2PBeQyPpQAsQMWaWD/cwnGpvM7Rv5iWcP43DLCJkVq8D3hi1eqDFkJ2ARod1dCDuj/LzFmKWwO++RQxa3cEGitab4TrbFZ4TXhkz9/mgbgZ/FD1ayDp20w8E5sUABPiJySAkysy6Gx4OcdXVz/69BBAHC3RHl9wbRIgx6Nnn/J8K8HTnTPvT1hZpS/1RTfkwiJxZ8hVbBEqYQLfXrHt4LbQ9WIzjLQ+1wlSXAYgpn4gx0+V2xLlZSJzyqZu1G/O/cQwy1AADcBBpMxJ3FPGYPKu9Eb+Fpibg4qKJDkX170LoY4RSI9SUBRH9tt2L5N+74eWEyy06zuMuHZ6t1hlerlBsFQoPbcx5BCx+5J2JcIhylqFpAwObDxA8ws4xyNjct5ROZ0C3p/6RQsYKmmCsLEB910CP5+LZXm6qlSLdBdgEJCfqnZOa73Ztnyy90W1oYn+XXbCMB/tbLUPriki2gwJmz6w="