language: node_js
node_js:
- '6'
addons:
  firefox: "43.0"
before_install:
- npm i npm-cli-login -g
- echo "NPM_USER=${NPM_USER}"
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install jsdoc -g
- npm install
script:
- ./ci/build.js
- ./ci/doc.js
- ./ci/test.js
- ./ci/test_browser.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_sugos.js
